/* Solo Utk4rsh Portfolio CSS */
/* ===========================
   Solo Utk4rsh Portfolio
   Part 1
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#050505;
    color:#ffffff;
    overflow-x:hidden;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#0b0b0b;
}

::-webkit-scrollbar-thumb{
    background:#00bfff;
    border-radius:50px;
}

/* Header */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    background:rgba(0,0,0,.45);
    backdrop-filter:blur(15px);
    z-index:1000;
    border-bottom:1px solid rgba(255,255,255,.08);
}

/* Logo */

.logo{
    font-size:28px;
    font-weight:700;
    color:#00d4ff;
    letter-spacing:2px;
    cursor:pointer;
}

/* Navbar */

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:16px;
    transition:.4s;
}

nav ul li a:hover{
    color:#00d4ff;
}

/* Hero */

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
    background:linear-gradient(135deg,#050505,#111827,#050505);
}

.hero-text h1{
    font-size:65px;
    margin-bottom:20px;
}

.hero-text span{
    color:#00d4ff;
}

.hero-text p{
    color:#cfcfcf;
    font-size:20px;
    margin-bottom:35px;
}

/* Button */

.btn{
    display:inline-block;
    padding:14px 35px;
    background:#00d4ff;
    color:black;
    border-radius:50px;
    text-decoration:none;
    font-weight:600;
    transition:.4s;
}

.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 0 25px #00d4ff;
}

/* Section */

section{
    padding:100px 10%;
}

section h2{
    text-align:center;
    font-size:42px;
    margin-bottom:50px;
    color:#00d4ff;
}
